   .carousel-inner{

    height: 400px;

    width: 100%;

    margin: auto;

}



.social [class*="fa fa-"] {

    

    border-radius: 30px;

    color: #fff;

    display: inline-block;

    height: 30px;

    line-height: 30px;

    margin: auto 3px;

    width: 30px;

    font-size: 15px;

    text-align: center;

}



.fa-twitter { 

    background-color: #5CC0E5; 

}



.fa-facebook {

	background-color: #396AA1;

}



.fa-google-plus {

	background-color: red;

}



.contact {

	color: #D1CFCF;

}
