.navbar {



	

	margin: 0 auto;

}









.carousel-inner>.item>img, .carousel-inner>.item>a>img {
display: block;
height: 600px;
max-width: 100%;
line-height: 1;
width: 100%; 

.item{

    height: 100% !important;

    width:  100% !important;

  

}



#table_news {

	background-color: grey;

	width: 100%;

	height: 300px;

}



#news {

	font-size: larger;

	text-align: center;

}